body{
    background-color: azure;
}
#head{
    text-align: center;
    color:navy;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: dotted;
    font-size:50px;
}
.container{
    width:100%;
    height:100%;
    margin:0px;
    display:block;
    text-align: center;
    

    
}
#l1{
    height:400px;
    width:100%;
   font-size: 10em;
   text-align: center;
}
#l1:hover{
    font-size:12em ;
}
 
#l1:active{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#b1{
    border-radius:20px;
    background-color:brown;
    font-size: 20px;
    color:white;
}
#b1:hover{
    font-size:25px;
}
#b1:active{
    background-color:chocolate;
}
#b2{
    border-radius:20px;
    background-color:brown;
    font-size: 20px;
    color:white;
}
#b2:hover{
    font-size:25px;
}
#b2:active{
    background-color:chocolate;
}
#b3{
    border-radius:20px;
    background-color:brown;
    font-size: 20px;
    color:white;
}
#b3:hover{
    font-size:25px;
}
#b3:active{
    background-color:chocolate;
}

